functions/lib
functions/node_modules
functions/src/chatbotConfig.ts
functions/src/model/sheetConfig.ts
functions/firebase-debug.log
functions/package-lock.json
functions/serviceAccountKey.json

quickstart/node_modules
quickstart/credentials.json
quickstart/package-lock.json
quickstart/token.json

public/
