<div id="seat-map" class="form-group row" style="width: 475px; height: 300px; margin-bottom: 64px;">
    <table style="left: 0%; top: 0%; width: 100%; height: 100%; table-layout: fixed;">
        <tr style="line-height: 25px;">
            <td></td>
            <td></td>
            <td><p>A1</p><img id="A-1" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td><p>A2</p><img id="A-2" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td></td>
            <td><p>A3</p><img id="A-3" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td><p>A4</p><img id="A-4" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td><p>A5</p><img id="A-5" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td><p>A6</p><img id="A-6" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td></td>
            <td><p>A7</p><img id="A-7" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td><p>A8</p><img id="A-8" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td><p>A9</p><img id="A-9" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td><p>A10</p><img id="A-10" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td></td>
            <td><p>A11</p><img id="A-11" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td><p>A12</p><img id="A-12" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td></td>
            <td></td>
        </tr>
        <tr style="line-height: 25px;">
            <td></td>
            <td></td>
            <td><p>B1</p><img id="B-1" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td><p>B2</p><img id="B-2" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td></td>
            <td><p>B3</p><img id="B-3" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td><p>B4</p><img id="B-4" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td><p>B5</p><img id="B-5" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td><p>B6</p><img id="B-6" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td></td>
            <td><p>B7</p><img id="B-7" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td><p>B8</p><img id="B-8" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td><p>B9</p><img id="B-9" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td><p>B10</p><img id="B-10" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td></td>
            <td><p>B11</p><img id="B-11" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td><p>B12</p><img id="B-12" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td></td>
            <td></td>
        </tr>
        <tr style="line-height: 25px;">
            <td></td>
            <td></td>
            <td><p>C1</p><img id="C-1" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td><p>C2</p><img id="C-2" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td></td>
            <td><p>C3</p><img id="C-3" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td><p>C4</p><img id="C-4" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td><p>C5</p><img id="C-5" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td><p>C6</p><img id="C-6" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td></td>
            <td><p>C7</p><img id="C-7" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td><p>C8</p><img id="C-8" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td><p>C9</p><img id="C-9" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td><p>C10</p><img id="C-10" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td></td>
            <td><p>C11</p><img id="C-11" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td><p>C12</p><img id="C-12" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td></td>
            <td></td>
        </tr>
        <tr style="line-height: 25px;">
            <td></td>
            <td></td>
            <td><p>D1</p><img id="D-1" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td><p>D2</p><img id="D-2" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td></td>
            <td><p>D3</p><img id="D-3" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td><p>D4</p><img id="D-4" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td><p>D5</p><img id="D-5" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td><p>D6</p><img id="D-6" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td></td>
            <td><p>D7</p><img id="D-7" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td><p>D8</p><img id="D-8" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td><p>D9</p><img id="D-9" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td><p>D10</p><img id="D-10" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td></td>
            <td><p>D11</p><img id="D-11" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td><p>D12</p><img id="D-12" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td></td>
            <td></td>
        </tr>
        <tr style="line-height: 25px;">
            <td></td>
            <td></td>
            <td><p>E1</p><img id="E-1" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td><p>E2</p><img id="E-2" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td></td>
            <td><p>E3</p><img id="E-3" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td><p>E4</p><img id="E-4" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td><p>E5</p><img id="E-5" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td><p>E6</p><img id="E-6" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td></td>
            <td><p>E7</p><img id="E-7" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td><p>E8</p><img id="E-8" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td><p>E9</p><img id="E-9" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td><p>E10</p><img id="E-10" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td></td>
            <td><p>E11</p><img id="E-11" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td><p>E12</p><img id="E-12" (click)="onClick($event)" src="https://sales.vscinemas.com.tw/VieShowTicket/img/standard_available.png"></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>

<div class="form-group row" style="width: 475px; height: 300px;">
    <div class="col-sm" style="text-align: center">
        <input disabled type="submit" id="submit" class="btn btn-info" (click)="onSubmit()" value="確認">
    </div>
</div>

<style>
    td
    {
        padding-top: 16px;
    }
    p
    {
        margin-bottom: 0px;
        line-height: 25px;
        width: 25px;
    }
    img
    {
        width: 25px;
        height: 25px;
        cursor: pointer;
    }
</style>
